<div class="main">
  <div class="main-header">
    <div class="mainroom">mainroom</div>
    <%= link_to "チャットを終了する", "#", class: "del-room-btn"%>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-header">
        <div class="author">Tom</div>
        <div class="datetime">2020/3/31 (Wed) 12:34:56</div>
      </div>
      <div class="content">
        おはよう
      </div>
    </div>
    <div class="post">
      <div class="post-header">
        <div class="author">Sim</div>
        <div class="datetime">2020/3/31 (Wed) 12:34:56</div>
      </div>
      <div class="content">
        おはよう
      </div>
    </div>
  </div>
  <div class="post-form">
    <div class="input-form">
      <div class="text-form"></div>
      <div class="img-btn"></div>
    </div>
    <div class="submit-btn"></div>
  </div>
</div>