<div class="main">
  <div class="main-header">
    <p class="mainroom"></p>
    <div class: "del-room-btn"></div>
  </div>
  <ul class="posts">
    <li class="post">
      <div class="post-header">
        <p class="author"></p>
        <p class="datetime"></p>
      </div>
      <div class="content">
      </div>
    </li>
  </ul>
  <div class="post-form">
    <div class="input-form">
      <div class="text-form"></div>
      <div class="img-btn"></div>
    </div>
    <div class="submit-btn"></div>
  </div>
</div>