<div class="sidebar">
  <div class="sidebar-header">
    <p class="current-user"></p>
    <%= link_to '', '/#', class: "create-room-btn" %>
  </div>
  <ul class="rooms">
    <li class="room"></li>
  </ul>
</div>