<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to  "Tom", "#", class:"current-user" %>
    <%= link_to  "チャットを作成する", "#", class: "create-room-btn" %>
  </div>
  <div class="rooms">
    <% @rooms.each do |room| %>
      <div  class="room">
        <%= link_to  room, "#", class: "room__link"%>      
      </div>
    <% end %>
  </div>
</div>
