<div class="sidebar">
  <div class="sidebar-header">
    <div class="current-user">Tom</div>
    <div class="create-room-btn">チャットを作成する</div>
  </div>
  <div class="rooms">
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
    <div class="room">techroom1</div>
  </div>
</div>