/********************
   general
********************/
a {
  text-decoration: none;
}

li {
  list-style: none;
}


.wrapper {
  display: flex;
}

.main,
.sidebar {
  height: 100vh;
}

.main-header,
.sidebar-header {
  height: 100px;
}

/********************
   sidebar
********************/

.sidebar {
  width: 300px;
  background-color: #253141;
}

.sidebar-header,
.rooms {
  padding: 0 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-user {
  font-size: 16px;
  color: #FAFAFA;
}

.create-room-btn {
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
}

.rooms {
  height: calc(100% - 100px);
  background-color: #2F3E51;
  overflow: scroll;
}

.room {
  padding-top: 20px;
  padding-bottom: 40px;
}

.room__link {
  color: white;
}


/********************
   mainchat
********************/

.main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header,
.posts,
.post-form {
  padding: 0 40px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainroom {
  font-size: 24px;
  color: #333;
}

.del-room-btn {
  font-size: 20px;
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
}

.posts {
  height: calc(100% - 190px);
  background-color: #FAFAFA;
  padding-top: 46px;
}

.post-form {
  height: 90px;
  background-color: #DDDDDD;
  padding-top: 20px;
  padding-bottom: 20px;
}