/********************
   general
********************/

li {
  list-style: none;
}


.wrapper {
  display: flex;
}

.main,
.sidebar {
  height: 100vh;
}

.main-header,
.sidebar-header {
  height: 100px;
}

/********************
   sidebar
********************/

.sidebar {
  width: 300px;
  background-color: #253141;
}

.sidebar-header,
.rooms {
  padding: 0 20px;
}

.rooms {
  height: calc(100% - 100px);
  background-color: #2F3E51;
}


/********************
   mainchat
********************/

.main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header,
.posts,
.post-form {
  padding: 0 40px;
}

.posts {
  height: calc(100% - 190px);
  background-color: #FAFAFA;
  padding-top: 46px;
}

.post-form {
  height: 90px;
  background-color: #DDDDDD;
  padding-top: 20px;
  padding-bottom: 20px;
}